div#hero{
    background-image: url(assets/backgrounds/hero.jpg);
    background-color: #cccccc;
    background-size: cover;
    height: 830px;
    background-repeat: no-repeat;
    position: relative;
    color: white;
    padding: 10px;
}
.hero-text{
    text-align: center;
    position: relative;
    top: 200px;
}
.scroll-down{
    margin-top: 320px;
}
.products{
    font-family: 'Comfortaa', cursive;
    background-color: #c6bfa5;
    padding: 20px;
    position: relative;
    font-size: 15px;
    
}
p2, .col-md-1{
    font-size: 20px;
}
input[type=button]{
    float: right;
    color: white;
    background-color: rgb(107, 37, 16);
    border: none;
    font-size: 10px;
    border-radius: 3px;
    height: 150%;
}
h6.horizontal-line{
    display: flex; 
    flex-direction: row;
    padding: 30px;
    font-size: 12px;
}

h6.horizontal-line::after {
    content: ""; 
    flex: 1 1; 
    border-bottom: 2px solid rgb(139, 135, 135); 
    margin: auto;
    }
#product-listings, .bottom-left, .top-left, .aboutus, .bottom-right, p.alert-text, 
div#footer-text, .footer-note{
    font-family: 'Comfortaa', cursive;
    font-weight: bolder;
}
.row2{
    display: flex;
    position: relative;
    
}
.column2{
    flex: 33.33%;
    height: 350px;
    width: 350px;
    box-sizing: border-box;
    padding: 70px;
    padding-top: 0px;
    margin: 30px;
    padding-bottom: 10px;
    background-color: rgb(236, 236, 236);
}
div.column2>img{
    padding-top: 50px;
    padding-bottom: 50px;
    height: 280px;
}
.top-left{
    position: absolute;
    top: 40px;
    margin-left:-60px;
    font-size: 12px;
}
.bottom-left{
    position: absolute;
    margin-left:-60px;
    font-size: 12px;
    bottom: 40px;
    font-weight: bolder;
    color: #96907c;
}
.bottom-right{
    position: relative;
    text-align: right;
    margin-right: -60px;
    bottom: -40px;
    font-weight: bolder;
    
}
h6.horizontal-line1{
    display: flex; 
    flex-direction: row;
    padding: 30px;
    font-size: 12px;
}

h6.horizontal-line1::before {
    content: ""; 
    flex: 1 1; 
    border-bottom: 2px solid rgb(139, 135, 135); 
    margin: auto;
}
.aboutus{
    background-image: url(assets/backgrounds/about.jpg);
    background-color: #cccccc;
    height: 402px;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    position: relative;
    color: white;
    
}
.aboutus-text{
    text-align: center;
    position: relative;
    padding-top: 100px;
    box-sizing: border-box;
    margin-right: 0px;
}
.material-icons{
    text-align: center;
}
p.bordered-text{
    border-style: solid;
    padding: 20px;
    margin: 0px;
}
p.alert-text{
    color: black;
    background-color: #535154;
    color: white;
    padding: 10px;
    padding-left: 50px;
    position: relative;
    margin-bottom: 0px;
    margin-right: 0px;
    font-size: 15px;
}
div#footer{
    background-color: #414141;
    color: white;
    
}
div#footer-text{
    font-size: 15px;
    text-align: center;
    padding-top: 40px;
    margin: 0px;
}
.footer-note{
    text-align: center;
    font-size: 12px;
    padding-top: 20px;

}
.fnote{
    margin: 0px;
}