body, html{
    margin: 0 0;
    padding: 0 0;
}
div#hero{
    background-image: url(assets/backgrounds/hero.jpg);
    background-color: #cccccc;
    background-size: cover;
    height: 830px;
    background-repeat: no-repeat;
    position: relative;
    color: white;
    padding: 10px;
}
div.top-banner{
    position: relative;
}
.hero-text{
    text-align: center;
    position: relative;
    top: 200px;
}
div.col-md-1.links, div.col-md-9{
    padding: 0 0;
}
div.top-banner{
    position: relative;
    margin: 0 0;
}
div.col-md-1{
    max-width: 110px;
    text-align: center;
}
.scroll-down{
    margin-top: 320px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width:800px){
    .scroll-down{
        position: relative;
        margin-top: 100px;
    }
}
.scroll-down:hover, .links:hover, input[type=button]:hover{
    opacity: .7;
    cursor: pointer;
}
.products{
    font-family: 'Comfortaa', cursive;
    background-color: #c6bfa5;
    padding: 20px;
    position: relative;
    font-size: 15px;
}
p2, .col-md-1{
    font-size: 20px;
}
input[type=button]{
    float: right;
    color: white;
    background-color: rgb(107, 37, 16);
    border: white;
    font-size: 10px;
    border-radius: 3px;
    height: 150%;
}
input[type=checkbox]{
    border: #a99b76;
    cursor: pointer;
}
h6.horizontal-line{
    display: flex; 
    flex-direction: row;
    padding: 30px;
    font-size: 12px;
}

h6.horizontal-line::after {
    content: ""; 
    flex: 1 1; 
    border-bottom: 2px solid rgb(139, 135, 135); 
    margin: auto;
    }
#product-listings, .bottom-left, .top-left, .aboutus, .bottom-right, p.alert-text, 
div#footer-text, .footer-note, .selection{
    font-family: 'Comfortaa', cursive;
    font-weight: bolder;
}
div#women.row{
    display: flex;
    position: relative;
    text-align: center;
}
div.listing{
    position: relative;
    margin: 20px;
    max-height: 300px;
    max-width: 300px;
    box-sizing: border-box;
    padding: 0 0 0 0;
    padding-top: 0px;
    padding-bottom: 10px;
    background-color: rgb(236, 236, 236);
}
div#men.row{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;

}
div.listing>img{
    padding-top: 50px;
    padding-bottom: 50px;
    height: 280px;
}
.top-right1{
    position: absolute;
    top:25px;
    margin-left: 220px;
    width: 15px;
    height: 15px;
    border-radius: 25px;
    background-color: greenyellow;
}
.top-right2{
    position: absolute;
    top:25px;
    margin-left: 240px;
    width: 15px;
    height: 15px;
    border-radius: 25px;
    background-color: blue;
}
.top-right3{
    position: absolute;
    top:25px;
    margin-left: 260px;
    width: 15px;
    height: 15px;
    border-radius: 25px;
    background-color:gray;
}
.top-right4{
    position: absolute;
    top:25px;
    margin-left: 240px;
    width: 15px;
    height: 15px;
    border-radius: 25px;
    background-color:#d4a7ac;
}
.top-right5{
    position: absolute;
    top:25px;
    margin-left: 260px;
    width: 15px;
    height: 15px;
    border-radius: 25px;
    background-color: whitesmoke;
}
@media (max-width:991px) and (min-width:767px){
    .top-right1{
        margin-left: 170px;
    }
    .top-right2, .top-right4{
        margin-left: 190px;
    }
    .top-right3, .top-right5{
        margin-left: 210px;
    }
}
.top-left{
    position: absolute;
    top: 25px;
    margin-left:5px;
    font-size: 12px;
}
.bottom-left{
    position: absolute;
    margin-left:5px;
    font-size: 12px;
    bottom: 25px;
    font-weight: bolder;
    color: #96907c;
}
.bottom-right{
    position: absolute;
    right: 0px;
    margin-right: 5px;
    bottom: 25px;
    font-weight: bolder;
    
}
h6.horizontal-line1{
    display: flex; 
    flex-direction: row;
    padding: 30px;
    font-size: 12px;
}

h6.horizontal-line1::before {
    content: ""; 
    flex: 1 1; 
    border-bottom: 2px solid rgb(139, 135, 135); 
    margin: auto;
}
.aboutus{
    background-image: url(assets/backgrounds/about.jpg);
    background-color: #cccccc;
    height: 402px;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    position: relative;
    color: white;
}
fieldset.aboutus-text{
    text-align: center;
    position: relative;
    top: 100px;
    border: solid;
    border-color: #908361;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
fieldset>legend{
    text-align:center;
    display: block;
    width: 150px;
    margin: 0 0 0 0;
}
@media screen and (max-width:800px){
    fieldset.aboutus-text{
        position: relative;
        max-width: 350px;
        top: 10px;
    }
    .aboutus, div#hero{
        background-position: center;
    }
}

.material-icons{
    text-align: center;
}
p.bordered-text{
    
    padding: 20px;
    margin: 0px;
}
p.alert-text{
    color: black;
    background-color: #535154;
    color: white;
    padding: 10px;
    padding-left: 50px;
    position: relative;
    margin-bottom: 0px;
    margin-right: 0px;
    font-size: 15px;
}
div#footer{
    background-color: #414141;
    color: white;
    
}
div#footer-text{
    font-size: 15px;
    text-align: center;
    padding-top: 40px;
    margin: 0px;
}
.footer-note{
    text-align: center;
    font-size: 12px;
    padding-top: 20px;

}
.fnote{
    margin: 0px;
}
.listing:hover{
    opacity: .7;
    border: #a99b76;
    border-style: solid;
    border-radius: 5px;
    border-width: 4px;
}
.selection{
    border: none;
    background: none;
}
p.links{
    overflow: auto;
}